spring:
    application:
        name: students-api

    datasource:
        url: jdbc:mariadb://localhost:3306/students
        username: root
        password: root
        driver-class-name: org.mariadb.jdbc.Driver

    sql:
        init:
            # schema-locations: 
            #     - src\\main\\resources\\init\\create.sql
            # data-locations:
            #     - src\\main\\resources\\init\\data.sql
            mode: always
            
    jpa:
        defer-datasource-initialization: false

        hibernate:
            ddl-auto: create
    
        # properties:
        #     jakarta:
        #         persistence:
        #             schema-generation:
        #                 database:
        #                     # action: drop-and-create
        #                 scripts:
        #                     action: create

        #                     create-source: metadata
        #                     # create-source: src\\main\\resources\\init\\create.sql
        #                     create-target: src\\main\\resources\\init\\create.sql

        #                     drop-source: metadata
        #                     # drop-source: src\\main\\resources\\init\\drop.sql
        #                     drop-target: src\\main\\resources\\init\\drop.sql

